{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": true,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "always",
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 80,
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
    "organizeImportsSkipDestructiveCodeActions": true,
    "tailwindFunctions": ["clsx", "cn"],
    "tabWidth": 4,
    "overrides": [
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}